---
---

$ahsc: #E8EAF6;
$ahsd: #1A237E;
$ahse: #9FA8DA;

* {

  font-family:'Tw Cen MT';

}

body {

  background-color: $ahsc;
  color: lighten($ahsc, 100%);
}

@font-face {
	font-family: 'Tw Cen MT';
	src: url('../lettertypes/TwCenMT-Regular.eot');
	src: url('../lettertypes/TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
		url('../lettertypes/TwCenMT-Regular.woff') format('woff'),
		url('../lettertypes/TwCenMT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.logo {

padding:5px;
display:block;
margin:0 0 0 10px;
width:100px;

}

footer {

position: absolute;
bottom:0;
left:0;
right:0;
}

footer a:link, a:visited {

text-align:center;
display:block;
float:left;
width:30.33%;
background-color:$ahsd;
text-decoration: none;
color:white;
padding:4px;


}



.achtergrondfoto {


width:270px;
display:block;
margin: 0 auto;


}

header {

background-color: $ahsd;
position: absolute;
top:0;
left:0;
right:0;
height:50px;

}

input[type="text"], input[type="password"]  {

width:140px;

}

input[type="submit"] {

background-color:$ahsd;
color:white;

}



.inlogger {

width:30px;
padding:10px;
float:right;

}

.gebruikerslogo {

width:20px;

}



.container form {

display:block;
margin:0 auto;  

}





.about {

margin-top:150px;
color:black;

}



.totaal {

margin-top:70px;
color:black;

}

@media screen and (min-width: 400px) {
    


	

}