---
---

$ahsc: #E8EAF6;
$ahsd: #1A237E;
$ahse: #9FA8DA;

* {

  font-family:'Tw Cen MT';
  margin:0;
  padding:0;
}

body {

  background-color: $ahsc;
  color: lighten($ahsc, 100%);
}

@font-face {
	font-family: 'Tw Cen MT';
	src: url('../lettertypes/TwCenMT-Regular.eot');
	src: url('../lettertypes/TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
		url('../lettertypes/TwCenMT-Regular.woff') format('woff'),
		url('../lettertypes/TwCenMT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.logo {

padding:5px;
display:block;
margin:0 0 0 10px;
width:100px;

}

footer {

position: absolute;
bottom:0;
left:0;
right:0;

}

footer a:link {

text-align:center;
display:block;
float:left;
height:25px;
width:31.33%;
padding:1%;
background-color:$ahsd;
text-decoration: none;
color:white;

}

footer a:visited {

text-align:center;
display:block;
float:left;
height:25px;
width:31.33%;
padding:1%;
background-color:$ahsd;
text-decoration: none;
color:white;


}


footer a:hover {

background-color:$ahse;
color:black;

}

.achtergrondfoto {


width:270px;
display:block;
margin: 0 auto;


}

#map {

width:300px;
height:250px;
display:block;
margin:0 auto;


}

header {

background-color: $ahsd;
position: absolute;
top:0;
left:0;
right:0;
height:50px;

}

input[type="text"], input[type="password"]  {

width:140px;

}

input[type="submit"] {

background-color:$ahsd;
color:white;

}

h4 {

margin:10px 0px;

}

hr {

margin:15px 0px;

}

.inlogger {

width:30px;
padding:10px;
float:right;
cursor: pointer;
}

.gebruikerslogo {

width:20px;

}

.container {

margin-top:75px;
color:black;

}

.container form {

display:block;
margin-top:20%;  

}

.about {

margin-top:150px;
color:black;

}



.totaal {

margin-top:70px;
color:black;

}



.stedeninfo{
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
}


.stedenwrapper{
	margin-top: 100px;
	width:200px;
	margin-left: auto;
	margin-right: auto;
}

.stedenlink{
	text-decoration: none;
	display: block;
	width: 200px

}

.stedenNav{
	background-color: $ahsd;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom:10px;
	width: 200px;
	height: 40px;
	display: block;
}

.stedenNav h3{
	padding-top: 9px;
	color: white;
}

.visWrapper{
	overflow-y:scroll;
	height: 280px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
}

.visIcoon{
	width: 60px;
}

td h2{
	margin-left: 20px;
	color: $ahsd;
}


@media screen and (min-width: 400px) {
    


	

}