---
---

$ahsc: #3F51B5;
$ahsd: #1D71B8;
$ahse: #E8EAF6;

* {

  font-family:'Tw Cen MT';
  margin:0;
  padding:0;

}



@font-face {
	font-family: 'Tw Cen MT';
	src: url('../lettertypes/TwCenMT-Regular.eot');
	src: url('../lettertypes/TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
		url('../lettertypes/TwCenMT-Regular.woff') format('woff'),
		url('../lettertypes/TwCenMT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

header {

background-color: $ahsd;
position: absolute;
top:0;
left:0;
right:0;
height:50px;

}



.inlogger {

width:30px;
padding:10px;
float:right;
cursor: pointer;

}

a.link {
display:block;
margin: 0 auto;
width:150px;
padding:10px;
border-radius:5px;
background-color: $ahse;
text-align: center;
text-decoration: none;
color:black;

}

a.link:hover {

background-color:$ahsd;
color:white;

}

.totaal {

margin-top:120px;
text-align: center;

}

.totaal table {

	margin:o auto;
	display:inline-block;

}

input[type="text"], input[type="password"]{

min-width:170px;
text-align: center;

}

input[type="submit"] {

background-color:$ahsd;
color:white;
border:none;
padding:5px 20px;
border-radius: 10px;
margin:0px 0px 25px 0px;

}

.totaal .registreerlink {

margin:25px 0px;

}

.totaal .btn_gaVerder {

background-color:$ahsd;
color:white;
border:none;
padding:5px 20px;
border-radius: 10px;
margin:25px 0px 25px 0px;
display: inline-block;
text-decoration: none;

}



.totaal h3 {

margin-bottom:15px;

}

@media screen and (min-width: 400px) {
    
	a.link {

		width:200px;

	}

}