<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'css/pages.css' | relative_url }}">
</head>
<header>
<img src="images/logout.png" class="inlogger" onclick="logOut()">
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

<span id="loginwelkom">
</span>
</header>